body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #ffe4b5;
}

.container{
  width: 70%;
  border: 1px solid black;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 6px 6px 5px -1px rgba(0,0,0,0.5);
}

.container main{
  padding: 20px;
  background: white;
  color: darkblue;
}

header{  
  background: darkblue;
  color: white;  
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
}

header span{
  font-size: 25px;
}

footer{  
  background: darkblue;
  color: white;  
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding: 15px;
}

footer span{
  font-size: 20px;
}